
@import url("reset.css");
@import url("variable.css");
@import url("style.css");

body{
    font-family: 'Roboto', sans-serif;
}
.profile-img{
    width:38px;
}
.row{
    margin-left:0px;
    margin-right:0px;
}

#wrapper {
    padding-left: 70px;
    transition: all .4s ease 0s;
    height: 100%
}

